.delivery-page {
    padding: 40px;
    background: #f8f9fb;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
  }
  
  .page-title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
    color: aqua;
  }
  
  .delivery-container {
    display: flex;
    gap: 30px;
  }
  
  /* LEFT FORM SIDE */
  .form-section {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 65%;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
  
  .form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 18px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-group.small {
    width: 60%;
  }
  
  .form-group label {
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
  }
  
  input,
  select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  .dimension-box {
    display: flex;
    gap: 10px;
  }
  
  .dimension-box input {
    width: 33%;
  }
  
  /* COURIER OPTIONS */
  .courier-section h4 {
    margin-bottom: 10px;
    font-weight: 600;
    color: #d8728c;
  }
  
  .courier-option {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .courier-option input {
    margin-right: 10px;
  }
  
  .courier-box {
    background: #f1f6ff;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  /* RIGHT SUMMARY SIDE */
  .summary-section {
    width: 35%;
  }
  
  .summary-section h3 {
    margin-bottom: 10px;
    color: #df4d71;
  }
  
  .summary-box {
    background: #b6d270;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
  
  .summary-row,
  .summary-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .summary-total strong {
    color: green;
    font-size: 18px;
  }
  
  .info-card {
    background: #95a1e1;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 14px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
  }
  
  .next-btn {
    width: 100%;
    background: #14c45f;
    padding: 14px;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  